header{
    background: #9b9999 url(../img/flywheel.jpg);
    padding: 1px 20px 50px 20px ;
}
h1{
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}
header a {
    display: inline-block;
    color: #000000;
    background-color: #ffffff;
    width: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 4%;
    padding: 20px;
    margin-right: 30px;
    margin-left: 28px; 
}

.left{
    background-color: #636363;
    height: 500px;
    width:200px;
    padding: 20px;
    float: left;
    
}

.left img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid black;
    margin-bottom: 20px;
    margin-right: 10px;
}

.right{
    background-color: #ffffff;
    clear: right; 
    border: 1px solid black;
    padding-left: 50px;
}

h2{
    color: #000000;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: large;
}
main{
    display: inline-block;
}

/*work on sources list item icon, alignment and link hovering and visited highlight*/